<!doctype html>
<html lang="en">
    <head>
        <style>
            .myDiv {
                margin: auto;
                width: 45%;
                height: 75%
            }
            .relative {
                padding: 10px;
                position: relative;
                background-color: #fff;
                margin: 10px;
            }
            .navitem {
                display: inline-block;
                width: 80px;
                height: 30px;
                text-align: center;
            }
            .textboxpadding {
                padding-bottom: 10px;
                padding-top: 200px
            }
        </style>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <title>Home</title>
    </head>
    <body>
        <div class="myDiv">
            <p>Let's figure out the correlations in price between different crypto assets</p>
            <p>The first step is to enter the USD value of the crypto asset you're considering swapping</p>
            <p>Then submit that value by selecting the crypto asset you currently own to see the results</p>
            <form action="/results/" method="post">
                <div class="relative">
                    <div class="input-group flex-nowrap textboxpadding">
                        <span class="input-group-text" id="addon-wrapping">$</span>
                        <input type="text" class="form-control" name="value" placeholder="Dollar Value Of The Asset Being Sold" aria-label="value" aria-describedby="addon-wrapping">
                    </div>
                    <input type="submit" class="btn-check navitem" name="asset" id="ada-btn" autocomplete="off" value="ADA">
                    <label class="btn btn-outline-primary" for="ada-btn">ADA</label>
                    <input type="submit" class="btn-check navitem" name="asset" id="avax-btn" autocomplete="off" value="AVAX">
                    <label class="btn btn-outline-primary" for="avax-btn">AVAX</label>
                    <input type="submit" class="btn-check navitem" name="asset" id="bnb-btn" autocomplete="off" value="BNB">
                    <label class="btn btn-outline-primary" for="bnb-btn">BNB</label>
                    <input type="submit" class="btn-check navitem" name="asset" id="btc-btn" autocomplete="off" value="BTC">
                    <label class="btn btn-outline-primary" for="btc-btn">BTC</label>
                    <input type="submit" class="btn-check navitem" name="asset" id="dot-btn" autocomplete="off" value="DOT">
                    <label class="btn btn-outline-primary" for="dot-btn">DOT</label>
                    <input type="submit" class="btn-check navitem" name="asset" id="eth-btn" autocomplete="off" value="ETH">
                    <label class="btn btn-outline-primary" for="eth-btn">ETH</label>
                    <input type="submit" class="btn-check navitem" name="asset" id="ltc-btn" autocomplete="off" value="LTC">
                    <label class="btn btn-outline-primary" for="ltc-btn">LTC</label>
                    <input type="submit" class="btn-check navitem" name="asset" id="matic-btn" autocomplete="off" value="MATIC">
                    <label class="btn btn-outline-primary" for="matic-btn">MATIC</label>
                    <input type="submit" class="btn-check navitem" name="asset" id="near-btn" autocomplete="off" value="NEAR">
                    <label class="btn btn-outline-primary" for="near-btn">NEAR</label>
                    <input type="submit" class="btn-check navitem" name="asset" id="sol-btn" autocomplete="off" value="SOL">
                    <label class="btn btn-outline-primary" for="sol-btn">SOL</label>
                    <input type="submit" class="btn-check navitem" name="asset" id="trx-btn" autocomplete="off" value="TRX">
                    <label class="btn btn-outline-primary" for="trx-btn">TRX</label>
                    <input type="submit" class="btn-check navitem" name="asset" id="xrp-btn" autocomplete="off" value="XRP">
                    <label class="btn btn-outline-primary" for="xrp-btn">XRP</label>
                </div>
            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>